<div style = "background-image: url('https://images.unsplash.com/photo-1444459094717-a39f1e3e0903?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80');">
  <div class="container py-5">
      <div class="row ">
        <div class="offset-2 col-8">
          <div class="card-body rounded">
            <h2 style="text-align:center">Create New Recipe</h2>
            <%= simple_form_for @recipe do |f| %>
                <div class="form-inputs col-md-12 ">
                    <div class="md-form">
                      <%= f.input :name, as: :string %>
                    </div>
                    <h5 style="font-size: 16px; line-height: ">Ingredients</h5>
                <div class="md-form" id='ingredients'>
                  <%= f.simple_fields_for :ingredients do |ingredient| %>
                    <%= render 'ingredient_fields', :f => ingredient %>
                  <% end %>
                  <div class='links'>
                    <%= link_to_add_association '+ add ingredient', f, :ingredients, class:"btn btn-outline-primary add-ingredient-link" %>
                  </div>
                </div>
                <div class="md-form">
                  <%= f.input :description, as: :text%>
                </div>
                <div class="md-form">
                  <%= f.input :category, :collection => ["Apetizer", "Soup", "Salad", "Pasta", "Dairy Dishes", "Salmon", "Meat Dishes", "Side Dishes", "Dessert", "Other"], :input_html => {:class => 'selectpicker'}%>
                </div>
                <div class="md-form">
                  <%= f.input :image, required: true, input_html: { class: 'hidden' }, label_html: { class: 'upload-photo'}, label: 'Upload a photo' %>
                  <%= f.input :image_cache, as: :hidden %>
                </div>
                <div class="text-center py-4 mt-3">
                <%= f.button :submit, "Create new recipe", class:'btn btn-outline-danger' %>
              </div>
            <% end %>
          </div>
       </div>
      </div>
  </div>
</div>
