<h2>Create New Recipe</h2>
<%= simple_form_for @recipe do |f| %>
    <div class="form-inputs col-md-6 ">
        <div class="md-form">
          <%= f.input :name, as: :string %>
        </div>
        <h3>Ingredients</h3>
    <div class="md-form" id='ingredients'>
      <%= f.simple_fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', :f => ingredient %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add ingredient', f, :ingredients %>
      </div>
    </div>
    <div class="md-form">
      <%= f.input :description, as: :text%>
    </div>
    <div class="md-form">
      <%= f.input :category, :collection => ["Apetizer", "Soup", "Salad", "Pasta", "Dairy Dishes", "Salmon" "Meat Dishes", "Side Dishes", "Dessert", "Other"], :input_html => {:class => 'selectpicker'}%>
    </div>
    <div class="md-form">
      <i class="fas fa-camera prefix grey-text"></i>
      <%= f.input :image, required: true, input_html: { class: 'hidden' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
      <%= f.input :image_cache, as: :hidden %>
    </div>
  <div class="text-center py-4 mt-3">
    <%= f.button :submit, "Create your new booking", class:'card-btn btn-block' %>
  </div>
<% end %>
