<div class="recipe-show-bg-image">
  <div class="container py-5">
    <div class="card recipe-body">
      <div class="div p-3">
        <% if @favorited %>
            <div class="unbookmark bookmark row">
              <%= link_to favorite_recipe_path(@recipe, type: "unfavorite"), method: :put do %>
                <i class="far fa-bookmark unfavorite"></i>
              <% end %>
              <span>unfavorite</span>
            </div>
          <% else %>
            <div class="bookmark row">
              <%= link_to favorite_recipe_path(@recipe, type: "favorite"), method: :put  do %>
                <i class="far fa-bookmark favorite"></i>
              <% end %>
            <span>favorite</span>
            </div>
          <% end %>

        </div>
      <div class= "recipe-header">
        <div class="recipe-title">
          <%=@recipe.name.split(" ").map{ |word| word.capitalize }.join(" ") %>


        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <% if current_user == @recipe.user %>
            <%= link_to recipe_path(@recipe), method: :delete do %>
              <i class="fas fa-trash" style="color:black"></i>
            <% end %>
            <%= link_to edit_recipe_path(@recipe) do %>
              <i class="fas fa-edit" style="color:black"></i>
            <% end %>
          <% end %>
          </div>
          <div class="col-4"></div>
        </div>
      </div>

      <div class="recipe-display">
        <div class="recipe-info-body">
          <h3 style="text-decoration:underline;">Ingredients:</h3>
          <% @recipe.ingredients.each do |ingredient| %>
          <p><%= ingredient.description.capitalize %></p>
          <% end %>
          <h3 style="text-decoration:underline;">Directions:</h3>
          <p><%= simple_format(@recipe.description.capitalize) %></p>
        </div>
        <div class="recipe-photo d-flex flex-column align-items-center">
          <% if @recipe.image.blank? %>
            <%= image_tag('cookbook')%>
          <% else %>
            <%= cl_image_tag @recipe.image %>
          <% end %>
          <div class="d-flex row space-around">
            <div class="rec-category mt-3 mr-2">
              <%= link_to recipes_path({query: @recipe.category}) do %>
              <%= @recipe.category %>
              <% end %>
            </div>
            <div class="rec-category mt-3">
              <%= link_to recipes_path({query: @recipe.user.name}) do %>
                Chef <%= @recipe.user.name.split(" ").map{ |name| name.capitalize}.join(" ") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



